<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body{
            background-color: #dadada;
            color: rgb(22, 22, 22);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            line-height: 1.7;
        }

        a{
          color: #97a4ff;
        }
    </style>  

    <style>
      .single-wrap{
        display: flex;
        gap: 50px;
        flex-direction: row-reverse;
        width: 80%;
      }

      aside{
        width: 400px;
      }

      main{
        width: 800px;
      }

      pre{
        overflow-x: scroll;
      }

    </style>
</head>
<body>

    {{ content | safe }}
    
</body>
</html>