---
layout: main.njk
myOtherData: hello
---



<div class="single-wrap">
  <main>
    <h1>Single Layout</h1>
    <h1>{{title}}</h1>      
    <hr>    
    {{ content | safe }}      
  </main>
  <aside>
    aside
    
  </aside>
</div>

