<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- tailwind -->
    <link rel="stylesheet" href="/styles.css" />

    <!-- title -->
    <title>{{ title }}</title>
  </head>

  <body>
    <!-- nav -->
    <nav>main navigation</nav>

    <!-- main -->
    <main>{{ content | safe }}</main>

    <!-- footer -->
    <footer>footer</footer>
  </body>
</html>
