---
layout: base
---

<div class="plugins-wrap grid md:flex md:flex-row-reverse">
  <div class="grow">
    <div class="container-narrow py-24 gap-24 flex">
      <main class="w-full">

        <h1 class="font-title text-6xl mb-12 font-bold tracking-wide">{{ title }}</h1>

        <article class="prose w-full min-w-full">
          {{ content | safe }}
        </article>
      </main>

      <!-- Toc -->
      <aside class="hidden w-[260px] lg:block">
        <div class="p-12 sticky top-[60px] rounded border border-slate-200 bg-slate-50">
          <h4 class="mb-8 uppercase">On the page</h4>
          <ul>
            <li><a href="#-swiss-knife-for-bricks-is-hanfull-set-of-features-that-will-speed-up-your-workflow">👋 Swiss Knife for Bricks is hanfull set of features that will speed up your workflow</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>

  <nav class="p-lg border-r border-slate-200 bg-slate-50 md:w-[260px]">
    <div class="sticky top-[60px]">
      {% for block in navigation %}
    <span class="text-gray-500">{{ block.title }}</span>
    <ol>
      {% for item in block.items %}
      <li class="{{ 'bg-red-200' if item.active }}">
        <a href="{{ item.url }}">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ol>
    {% endfor %}
    </div>
  </nav>
</div>